body{
    background-color: blanchedalmond;
    font-family: sans-serif;
}

.container{
    margin: auto;
    width: 90%;
    margin-top: 10px;
}

h1{
    font-size: 20pt;
    color: crimson;
    background-color: beige;
}

p{
    font-size: 18pt;
}

input, button{
    padding: 5px;
}

.imgproducto{
    height: 200px;
    width: 200px;
    transition: 300ms;
}
.imgproducto:hover{
    transform:scale(1.5);
}